@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&family=Oswald:wght@300;400;600&display=swap");
html, body {
    margin: 0;
    max-width: 100%;
    background-color: rgb(244, 240, 236);
  }
  
  body { 
  font-family: "Montserrat", sans-serif;
  }


                                                                                                                                      


/*Nav*/
nav {
  position: fixed;
}
  
  .topnav {
    background: #323232;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    position: fixed;
    z-index: 2;
    overflow: hidden;
  }
  
  .topnav nav {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    list-style: none;
    flex-wrap: nowrap;
  }

  .topnav nav ul li a, .logo {
    width: 100%;
    color: rgb(244, 240, 236);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
    display: inline-block;
    padding: 10px;
    position: relative;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    text-align: center;
    padding: 16px;
    text-decoration: none;
  }

  .topnav a:hover {
    color: rgb(255, 255, 255);
  }
  
  /*Hover Line*/
  .topnav a::before {
    content: "";
    display: block;
    height: 2px;
    background-color: rgb(244, 240, 236);
    position: absolute;
    top: 35px;
    width: 0%;
    transition: all ease-in-out 250ms;
  }
  /*Hover Line after hovered*/
  .topnav nav ul li a:hover::before {
    width: 95px;
  }
  
  
  /* Hide the link that should open and close the topnav on small screens */
  .topnav .icon {
    display: none;
  }



  @media screen and (max-width: 1000px) {
    .topnav a:not(:first-child) {
      display: none;
    }
    .topnav a.icon {
      float: right;
      display: block;
    }
  }
  @media screen and (max-width: 1000px) {
    .topnav.responsive {
      position: relative;
    }
    .topnav.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }
  

  .logo {
    background: #323232;
    color: rgb(244, 240, 236);
    font-weight: bold;
    font-size: 24px;
    z-index: 100;
    padding: 10px;
  }
  

                                                                                                                                  


/*header*/
.index_header {
  font-family: 'Oswald', sans-serif;
  width: 100%; 
  height: 82vh; 
  background: url("https://images.unsplash.com/photo-1581028337168-887b61f494e4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1230&q=80") no-repeat 50% 50%; 
  background-size: cover;
  object-fit: contain;
  text-align: center;
  }

.title_container{
  background: rgba(94, 94, 94, 0.3);
  padding: 10px;
}

.title {
  font-family: 'Oswald', sans-serif;
  font-size: 50px;
  color: rgb(244, 240, 236);
  margin-left: auto;
  margin-right: auto;
}

.subtitle {
  font-size: 40px;
  margin: auto;
  color: rgb(244, 240, 236);
  display: inline-block;
}

                                                                                                                                  

/*table in services*/
table {
  max-width: 95%;
  overflow: auto;
  padding: 10px;
  border: 20px;
}
table, th, td {
  text-align: left;
  vertical-align: text-top;
}
@media screen and (max-width: 1000px) {
  table, th, td {
    display: block;
  }
}

.list {
  list-style-type: square;
  background-color: transparent;
  font-weight:normal;
}
                                                                                                                                  

/*big break*/
.bigbreak {
  height: 60vh;
}


                                                                                                                                  


/*General*/
h1 {
  padding: 10px;
  font-family: 'Montserrat', sans-serif;
}

P {
  text-decoration: none;
  color:#111111;
  padding: 10px;
}

  footer {
    background-color: rgb(32, 32, 32);
    color: rgb(244, 240, 236);
    margin-top: 50px;
    width: 95%;
    padding: 30px;
  }

  .FooterHeader {
    color: rgb(244, 240, 236);
    font-size: 20px;
    font-style: bold;
    width: 50%;
  }

  footer a {
    text-decoration: underline;
    color: rgb(244, 240, 236);
  }

  button {
    text-decoration: none;
    color: rgb(32, 32, 32);
    border: none;
    font-family: 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
  }

  form {
    padding: 30px;
  }

  input label{
    text-decoration: none;
    border: none;
    font-family: 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
  }