// Navigation Variables
$content-width: 1000px;
$breakpoint: 799px;
$nav-height: 70px;
$nav-background: rgb(32,32,32);
$nav-font-color: rgb(244, 240, 236);
$link-hover-color: #565656;

html{
body {
    margin: 0;
    background-color: rgb(244, 240, 236);
  }
  
  body {
    font-family: 'Quicksand', sans-serif;
  }

// Navigation 
nav {
  float: right;
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      float: left;
      position: relative;
      a,
      a:visited {
        display: block;
        padding: 0 20px;
        line-height: $nav-height;
        background: $nav-background;
        color: $nav-font-color;
        text-decoration: none;
        &:hover {
          background: $link-hover-color;
          color: $nav-font-color;
        }
        &:not(:only-child):after {
          padding-left: 4px;
          content: ' ▾';
        }
      } // Dropdown list
      ul li {
        min-width: 190px;
        a {
          padding: 15px;
          line-height: 20px;
        }
      }
    }
  }
}
  












  footer {
    background-color: rgb(32, 32, 32);
    color: rgb(244, 240, 236);
    margin-top: 50px;
    width: 100%;
    padding: 30px;
  }

  .FooterHeader {
    font-size: 20px;
    font-style: bold;
  }

  footer a {
    text-decoration: underline;
    color: rgb(244, 240, 236);
  }

  button {
    text-decoration: none;
    color: rgb(244, 240, 236);
  }

  form {
    padding: 30px;
  }

  input{
  label{
    text-decoration: none;
    border: none;
    font-family: 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
  }
  
}
}
