@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&family=Oswald:wght@300;400;600&display=swap");

/*auto detailing stylesheet*/

html, body {
    margin: 0;
    max-width: 100%;
    background-color: rgb(244, 240, 236);
  }
  
  body { 
  font-family: 'Montserrat', sans-serif;
  }


/************NAV************/
.topnav {
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.84);
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
}

/* Links inside the navbar */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a.active {
  
    color: rgb(244, 240, 236);
    font-weight: bold;
    font-size: 24px;
    z-index: 100;
    padding: 10px;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 1000px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 1000px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
  

                                                                                                                                  


/************header************/
.index_header {
  font-family: 'Oswald', sans-serif;
  width: 100%; 
  height: 82vh; 
  background: url("https://images.unsplash.com/photo-1581028337168-887b61f494e4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1230&q=80") no-repeat 50% 50%; 
  background-size: cover;
  object-fit: contain;
  text-align: center;
  }

.title_container{
  background: rgba(0, 0, 0, 0.382);
  padding: 10px;
}

.title {
  font-family: 'Oswald', sans-serif;
  font-size: 50px;
  color: rgb(244, 240, 236);
  margin-left: auto;
  margin-right: auto;
}

.subtitle {
  font-size: 40px;
  margin: auto;
  color: rgb(244, 240, 236);
  display: inline-block;
}

@media screen and (max-width: 1000px) {
  .title {
    font-size: 30px;
  }
  .subtitle {
    font-size: 20px;
  }
}


/************tables************/
table {
  overflow: auto;
  border-width: 20px;
  margin-left: auto;
  margin-right: auto;
}

table, th, td {
  margin: 20px;
  text-align: center;
  vertical-align: text-top;
}

th, td { 
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  border-color:rgba(255, 255, 255, 0);
  padding: 10px;
  width: 20%;
}

@media screen and (max-width: 1000px) {
  table, th, td {
    display: block;
  }
  th, td{
    width: 90%;
  }
}


/************ get to know me************/                                                                                                                                  
.gtkm {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}


@media screen and (max-width: 1000px) {
  .gtkm img{/*get to know me*/
    width: 90%;
    }
    aside{
      display: none;
    }
  } 



                                                                                                                                  


.darksection {
  background-color: #525252;
  padding: 20px;
  min-height: 40vh;
  width: 100%;
  margin-top: 40px;
  margin-bottom: 40px;
}
                                                                                                                                  


/*General*/
h1 {
  padding: 20px;
  font-family: 'Oswald', sans-serif;
  font-size: 35px;
  text-align: center;
}

h2 {
  font-family: 'Oswald', sans-serif;
}

h3 {
  font-family: 'Oswald', sans-serif;
}

P {
  font-family: 'Montserrat', sans-serif;
  color:#111111;
  padding: 10px;
  font-size: 20px;
}

a {
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/***********footer************/
  footer {
    background-color: rgb(32, 32, 32);
    color: rgb(244, 240, 236);
    margin-top: 50px;
    width: 100%;
    padding-left: 30px;
    padding-top: 30px;
    align-items: center;
  }

  .FooterLinks {
    color: rgb(244, 240, 236);
    text-decoration: none;
    font-size: 20px;
    width: 60px;
  }

  .FooterButton {
    text-decoration: none;
    background-color: rgb(255, 255, 255);
    color: #111111;
    font-style: bold;
    font-size: 20px;
    Padding: 10px;
    border: none;
    border-radius: 2px;
    font-family: 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
  }

  @media screen and (max-width: 1000px) {
    .FooterLinks {
      font-size: 16px;
    }
    } 